<div class="collapsed-tasks pb-3">
   <a href="" class="btn btn-primary my-3" data-toggle="modal" data-target="#addATaskOfFreightUnitModal">+ Add a Task</a>
   <div class="table-responsive">
      <table class="table table-striped dataTable" id="tasks-list-table">
         <thead>
            <tr>
               <th class="sorting_asc" style="width: 100px">ID</th>
               <th class="sorting">Task</th>
               <th class="sorting">Scheduled Date</th>
               <th class="sorting">Arrival Date</th>
               <th class="sorting">Status</th>
               <th style="width: 100px">Comments</th>
            </tr>
         </thead>
         <tbody>
            <tr class="cursor-pointer">
               <td>1</td>
               <td>làm báo cáo</td>
               <td>2008/11/28</td>
               <td>2008/11/29</td>
               <td><span class="badge badge-pill badge-danger">pending</span></td>
               <td style="width: 100px">
                  <span>-------</span>
               </td>
            </tr>
            <tr class="cursor-pointer">
               <td>2</td>
               <td>làm báo cáo</td>
               <td>2008/11/28</td>
               <td>2008/11/29</td>
               <td><span class="badge badge-pill badge-danger">pending</span></td>
               <td style="width: 100px">
                  <span>-------</span>
               </td>
            </tr>
            <tr class="cursor-pointer">
               <td>3</td>
               <td>làm báo cáo</td>
               <td>2008/11/28</td>
               <td>2008/11/29</td>
               <td><span class="badge badge-pill badge-danger">pending</span></td>
               <td style="width: 100px">
                  <span>-------</span>
               </td>
            </tr>
         </tbody>
      </table>
   </div>
   <div class="d-flex flex-column flex-sm-row mt-4 d-print-none align-items-center justify-content-between">
      <div class="flex-wrap form-group">
         <select class="form-control form-control-sm custom-select custom-select-sm" style="width: 60px;">
            <option value="10" selected="">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
         </select>
         <span class="ml-2">Showing 1 to 10 of 56</span>
      </div>
      <div class="col-12 col-md-auto d-flex justify-content-center mt-1">
         <nav class="text-right">
            <ul class="pagination pagination-sm">
               <li class="page-item"><a class="page-link" href="#"><span aria-hidden="true">«</span></a>
               </li>
               <li class="page-item active"><a class="page-link" href="#">1</a></li>
               <li class="page-item"><a class="page-link" href="#">2</a></li>
               <li class="page-item"><a class="page-link" href="#">3</a></li>
               <li class="page-item"><a class="page-link" href="#"><span aria-hidden="true">»</span></a>
               </li>
            </ul>
         </nav>
      </div>
   </div>
</div>