<nav class="sidebar">
    <div class="sidebar-header">
        <a href="/dashboard" class="sidebar-brand">
            <img src="{{ url_for('static', filename='assets/images/logo.png') }}" alt="Logo" width="100" />
        </a>
        <div class="sidebar-toggler not-active">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="sidebar-body">
        <ul class="nav">
            <li class="nav-item nav-category">Main</li>
            <li class="nav-item">
                <a href="/" class="nav-link">
                    <i class="link-icon" data-feather="bar-chart-2"></i>
                    <span class="link-title">Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/job" class="nav-link">
                    <span class="link-title">Active Job</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/job-category" class="nav-link">
                    <span class="link-title">Job Category</span>
                </a>
            </li>
             <li class="nav-item">
                <a href="/meeting" class="nav-link">
                    <span class="link-title">Meeting</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-toggle="collapse" href="#report" role="button" aria-expanded="false" aria-controls="report">
                    <i class="link-icon" data-feather="pie-chart"></i>
                    <span class="link-title">Admin</span>
                    <i class="link-arrow" data-feather="chevron-down"></i>
                </a>
                <div class="collapse" id="report">
                    <ul class="nav sub-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="/users">
                                Users
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/role">
                                Role
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/permission">
                                Permission
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>
